$robo-bk: "robotoblack";
$robo-bki: "robotoblack_italic";
$robo-bl: "robotobold";
$robo-bli: "robotobold_italic";
$robo-i: "robotoitalic";
$robo-l: "robotolight";
$robo-li: "robotolight_italic";
$robo-m: "robotomedium";
$robo-mi: "robotomedium_italic";
$robo-r: "robotoregular";
$robo-th: "robotothin";
$robo-thi: "robotothin_italic";
